{% extends "socialnetwork/base.html" %}
{% load static %}

{% block user-info %}
   <div class="sidenav">
        <span id="id_logged_in_user_name">{{user.first_name}} {{ user.last_name }}</span>
        <a href="{% url 'logout' %}">
            Logout
        </a>
        <div class="dropdown">
        <button id="id_show_nav_button">&darr;</button>
        <div class="dropdown-content">
        <a id= "id_nav_global_stream" href="http://54.152.121.169/">Global Stream</a>
        <a id= "id_nav_follower_stream" href="{% url 'follow' %}">Follower Stream</a>
        <a id= "id_nav_profile" href="{% url 'mine' user.id%}">My Profile</a>
        <a id= "id_nav_logout" href="http://54.152.121.169/accounts/login/">Logout</a>
        </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <span id="id_name_of_page">
    <h2>Profile Page for {{others.user.first_name}} {{others.user.last_name}}</h2>
    </span>

<div>
    {% if others.profile_picture %}
         <img id = "id_user_picture" src="{% url 'photo' others.user_id %}" height="200px" width="200px" alt="user_{{user.id}}">
    {% else %}
         <img id = "id_user_picture" src="{% static 'socialnetwork/cat.jpg' %}" height="200px" width="200px" alt="user_{{user.id}}">
    {% endif %}

</div>

<div class="my_user_bio">
    {% if others.userBio %}
        <textarea readonly name="bio_text" id="id_user_bio" contenteditable="true" rows = "5" cols = "40" maxlength = "100" style="resize:none;width:480px;height:200px;">{{ others.userBio }}</textarea>
    {% else %}
        <textarea readonly name="bio_text" id="id_user_bio" rows = "5" cols = "40" maxlength = "100" style="resize:none;width:480px;height:200px;"></textarea>
    {% endif %}
    {% csrf_token %}
</div>

<form  action="{% url 'follow' others.user_id %}" method="post" class="follow-action">
    <div>
    {% if others.user in current_user.following.all %}
        <button type="submit" id="id_unfollow">unfollow</button>
    {% else %}
        <button type="submit" id="id_follow">follow</button>
    {% endif %}
    </div>
    {% csrf_token %}
</form>
{% endblock %}
